/********** STYLES APPLIED TO TEXT **********/

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight:normal;
	color: #132c52;
	text-decoration:none;
	padding: 2px 0px 6px 0px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:normal;
	/*color: #757575;*/
	color: #58595b;
	text-decoration:none;
	padding: 8px 0px 2px 0px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
	color: #58595b;
	text-decoration:none;
	padding: 8px 0px 2px 0px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:normal;
	color: #58595b;
	text-decoration:none;
	padding: 6px 0px 2px 0px;
	font-weight: 600;
}

p {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 1.462;
	font-weight:normal;
	color: #000000;
	text-decoration:none;
	padding: 4px 0px 4px 0px;
	text-align:justify;
}

ul, li {
	list-style-type:none;
}

/********** STYLES APPLIED TO LINKS **********/

#content a:link {color: #006699; text-decoration:none; font-size:12px;}
#content a:visited {color: #0066AA; text-decoration:none; font-size:12px;}
#content a:hover {color: #e51463; text-decoration: underline; font-size:12px;}
#content a:active {color: #FF9000; text-decoration: underline; font-size:12px;}

#rightcolumn a:link {color: #006699; text-decoration:none; font-size:12px;}
#rightcolumn a:visited {color: #0066AA; text-decoration:none; font-size:12px;}
#rightcolumn a:hover {color: #e51463; text-decoration: underline; font-size:12px;}
#rightcolumn a:active {color: #FF9000; text-decoration: underline; font-size:12px;}

#footer a:link {color: #006699; text-decoration:none; font-size:12px;}
#footer a:visited {color: #0066AA; text-decoration:none; font-size:12px;}
#footer a:hover {color: #e51463; text-decoration: underline; font-size:12px;}
#footer a:active {color: #FF9000; text-decoration: underline; font-size:12px;}

/********** STYLES APPLIED TO BOXES **********/

div.categoryBoxContainer { width: 300px;  margin-right: 20px; *margin-right: 0px;}

.boxHeader { width: 300px;}

.boxContent { width: 300px; background-image:url(../assets/images/box-background.gif); background-repeat:repeat-y; padding: 10px; }

.iconsBoxes { width: 70px; float:left; margin-right: 30px;}

.boxTitles { font-size: 16px; font-weight:bold; color:#1e467c;  }

.linksBoxes { margin-left: 0px; }

.boxFooter { width: 300px;}

div.categoryLargeBoxContainer { width: 620px;  margin-top: 10px; *margin-top: 20px;}

.largeBoxHeader { width: 620px;}

.largeBoxContent { width: 620px; background-image:url(../assets/images/large-box-background.gif); background-repeat:repeat-y; padding: 10px; overflow:auto;}

.iconsBoxes { width: 50px; float:left; }

.boxTitles { font-size: 16px; font-weight:bold; color:#1e467c; margin-left: 60px; padding-bottom:6px; }

.linksBoxes { float:left; display:block; }

.largeBoxFooter { width: 620px;}

/********** STYLES APPLIED TO RIGHT TEASERS **********/

div.rightTeaserContainer { width: 204px; float:left; margin-bottom 10px; *margin-bottom: 10px;}

.rightTeaserHeader { width: 204px;}

.rightTeaserContent { width: 204px; background-image:url(../assets/images/right-teaser-background.gif); background-repeat:repeat-y; padding: 6px; }

.rightTeaserFooter { width: 204px;}

.rightTeaserTitles { font-size: 14px; font-weight:bold; color:#2aabe1; padding-bottom:6px; }

.rightTeaserLinks { float:left;}
 
.rithTeaserIcons { float:left; padding-right:10px;}

.illustrationCategory { float:left; padding-right:10px;}

.separationLine {
border-top:#999999 dashed 1px;

}
